/* Estilo General */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
  }
  
  /* Contenedor Principal */
  .container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Título */
  h1 {
    font-size: 2em;
    margin-bottom: 20px;
    text-align: center;
    color: #007BFF;
  }
  
  /* Input de Búsqueda */
  input[type="text"] {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  /* Lista de Resultados */
  .lista-resultados {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .lista-resultados li {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .lista-resultados li:hover {
    background-color: #007BFF;
    color: white;
    cursor: pointer;
  }
  